<mat-card class="list-item">
    <mat-card-header class="list-item-header">
        {{actor?.Name}}
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
            Movies with Keanu Reaves
            <ul>
                <li *ngFor="let movie of actor?.KRMovies">{{movie}}</li>
            </ul>
            Movies with Nicolas Cage
            <ul>
                <li *ngFor="let movie of actor?.NCMovies">{{movie}}</li>
            </ul>
        <br/>
    </mat-card-content>
</mat-card>
    